html {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 1rem;
  background: #f1f4f7;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.card-form {
  background: white;
  padding: 1rem;
  min-width: 300px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(60, 66, 87, .12), 0 1px 1px 0 rgba(0, 0, 0, .12);
}
.card-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  position: relative;
}
.card-form .form-group input.form-input {
  width: 100%;
  display: block;
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  transition: all 0.2s ease;
}
.card-form .form-group input.form-input:focus {
  border-color: #55a7d6;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(48, 145, 200, .25);
}
.card-form .form-group input.form-input.form-input--error {
  border-color: #dc3545;
}
.card-form .form-group input.form-input.form-input--error:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, .25);
}
.card-form .form-group span.error-display {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: #dc3545;
}
.card-form .form-group .card-type-display {
  display: flex;
  position: absolute;
  top: 0.9rem;
  right: 1rem;
}
.card-form .form-group .card-type-display .card-img {
  transition: opacity 0.2s ease;
}
.card-form .form-group .card-type-display .card-img + .card-img {
  margin-left: 0.25rem;
}
.card-form .form-group .card-type-display .card-img.card-img--unselected {
  opacity: 0.2;
}
.card-form .input-group {
  display: flex;
  width: 100%;
}
.card-form .input-group .form-group + .form-group {
  margin-left: 0.5rem;
}
.card-form button.form-submit-button {
  display: block;
  width: 100%;
  background: #3091c8;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
}
.card-form button.form-submit-button:disabled {
  opacity: 0.7;
}
.card-form button.form-submit-button.form-submit-button--loading {
  cursor: loading;
}
.spinner {
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  transform: translateZ(0);
}
.spinner:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 10.4px;
  height: 20.4px;
  background: #3091c8;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.spinner:after {
  border-radius: 50%;
  position: absolute;
  content: "";
  width: 10.4px;
  height: 10.2px;
  background: #3091c8;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  transform-origin: 0px 10.2px;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}